<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="cohorte felix (p2)" sequenceNumber="41">
<locations>
<location path="${project_loc:eclipse}/repo" type="Directory"/>
<location path="${project_loc:org.cohorte.felix.p2}/sources/plugins" type="Directory"/>
</locations>
<includeBundles>
<plugin id="log4j"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.apache.felix.bundlerepository"/>
<plugin id="org.apache.felix.framework"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.http.jetty"/>
<plugin id="org.apache.felix.http.servlet-api"/>
<plugin id="org.apache.felix.ipojo"/>
<plugin id="org.apache.felix.ipojo.gogo"/>
<plugin id="org.apache.felix.ipojo.handler.jmx"/>
<plugin id="org.apache.felix.log"/>
<plugin id="org.apache.felix.main"/>
<plugin id="org.apache.httpcomponents.httpclient"/>
<plugin id="org.apache.httpcomponents.httpcore"/>
<plugin id="org.apache.servicemix.bundles.commons-codec"/>
<plugin id="osgi.cmpn"/>
<plugin id="slf4j.api" version="1.7.25"/>
</includeBundles>
</target>
